.footerUl {
  display: flex;
  gap: 10%;
  justify-content: center;
  margin: 20% 2% 2%;
}
.footerUl li {
  list-style-type: none;
  font-size: small;
}
@media only screen and (max-width: 760px) {
  .footerUl {
    flex-direction: column;
  }
}
