.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5% 0;
  width: 100%;
}
.card {
  width: 25rem;
  margin: 2%;
}

.card-img-top {
  height: 60vh;
}
